.mainHeader{
    background-color: var(--headerBlue);
    font-family: var(--headerFontFamily);
}

.navHeader {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.navHeader a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.navHeader a:last-child {
    margin-left: auto;
}